.listIcons {

    display: flex;
    flex-flow: wrap;
    justify-content: center;

    &--elt {
        background: var(--input-bg-color);
        border: 1px solid var(--grey);
        border-radius: 5px;
        color: var(--main-font-color);
        cursor: pointer;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        margin: 10px;
        padding: 10px;
        text-align: center;
        width: 200px;

        .bIcon,
        p {
            pointer-events: none;
        }

        p {
            width: 100%;
        }

        &:hover {
            border: 1px solid var(--primary);
        }
    }
}
