// --- F O N T S --- //

// IMPORTS
@font-face {
    font-family: Culture;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    src: url('../fonts/Culture.otf') format('otf');
}
@font-face {
    font-family: Raleway;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    src: url('../fonts/Raleway.ttf') format('ttf');
}
@font-face {
    font-display: block;
    font-family: Icomoon;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    src: url('../fonts/icomoon.woff') format('woff');
}

// VARIABLES
:root{
    --title-font: 'Culture', sans-serif;
    --text-font: 'Raleway', sans-serif;
}

@mixin button() {
    font-size: var(--s);
    line-height: var(--l);
}
@mixin inputFont() {
    font-size: var(--s);
    line-height: var(--l);
}