.a-a{
    color: var(--primary);
    font-family: var(--text-font);
    text-transform: capitalize;
    text-decoration: underline var(--primary) !important;
    &:hover{
        color: var(--primary-light) !important;
        text-decoration: underline var(--primary-light) !important;
    }
    &:focus{
        text-decoration: none !important;
    }
}
